.titulo-lista-produto {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin: 200px 0;

    color: rgba(157, 157, 157, 0.64);
    object-fit: scale-down !important;

    text-transform: uppercase;

}
.span-desconto {
    font-weight: bold;

    background: #e58d04;
    padding: 4px;
    margin-bottom: -65px;
    margin-right: 10px;
    float: right;
    line-height: 10px;

    font-size: 10px;

    font-weight: bold;

    color: white;

    border-radius: 0 0 3px 3px;

    z-index: 150;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);

    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
}
.span-descricao{
    opacity: 0;
    margin: 0;
    height: 0;

    transition: 0.3s;
}

.span-descricao:hover {
    height: auto;

    transition: 0.8s;

    color: white;

    font-size: small;

    background: rgb(229, 141, 4);

    border-radius: 5px;

    padding: 8px;

    margin-top: 10px;

    z-index: 200;

}
.descricao {
    color: rgb(54, 54, 54);

}
.card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 70%;
    height: auto;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 35px;
    height: 350px;
    width: 200px;
    margin-left: 40px;
}

.imagem-produto {
    width: 200px;
    height: 199px;

    box-shadow: -10px 7px 16px 0px rgb(0 0 0 / 25%);
    object-fit: scale-down !important;
}

.titulo-produto {
    margin: auto;
    margin-top: 15px;
    color: #444;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
}

.preco, .valor {

    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: auto;
    display: flex;
}

.preco {
    color: #000;
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 15px;
}

.valor {
    color: #6a6a6a;
}

.link-compra {
    color: inherit;
    text-decoration: inherit;
}
.codigo {
    color: #6a6a6a;
    font-size: 8px;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.imagem { opacity: initial !important;}

section.card-section-scroll { margin:auto; display: flex; flex-direction: row; flex-wrap: wrap;}