html {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cadastro-login{
    width: 350px;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: 10rem;
    background: #EED9A3;

    border-radius: 20px;
    padding: 0 20px;
}

.formularioLogin {
    display: flex;
    flex-direction: column;

    margin: auto;
    text-align: center;
    width: 90%;
    font-family: 'Roboto'

}

.input-login {
    padding: 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.17);
}
.button-login {
    padding: 15px;
    border: none;
    color: white;
    background: #363636;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.17);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.button-login:hover {
    border: 1px solid rgba(0, 0, 0, 0.41);
    background: white;
    color: #444444;

    border: none;

    box-shadow: none;
}

.label-login {
    color: #444444;
    font-family: 'Roboto', sans-serif;

}
.login-h2 {
    width: auto;
    transition: 0.5s ;
    font-family: 'Roboto', sans-serif;

    color: white;

    font-size: 1.1rem;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 5px 10px black;

    cursor: pointer;
}
.login-h2:hover, .icon-login:hover{
    cursor: pointer;

    transition: 1s ;
    text-shadow: 5px 5px 0px rgb(238, 217, 163);
}
.icon-login {
    text-decoration: inherit;
    margin: auto;
    margin-top: 2rem;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    color: white;

    cursor: pointer;
    text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.34);

    width: 15px;
}