.desconto {
    text-align: center;
    background: transparent;
    background: #000000;
    border-radius: 25px 25px 0px 0px;

    color: white;
    padding: 10px 0;
    font-weight: 700;
    margin-bottom: 0;

    z-index: 50;
}

.es-esquerdo {
    background: #3FCA28;
}
.card-meio {
    height: 400px;
}

.card-foto {
    object-position: center !important;
}
.des-direto {
    background: red;
}

.card-produtos {
    display: flex;
    justify-content: space-around;
}

.esquerda, .direita {
    height: 350px !important;
}

.btn-esquerda, .btn-direito, .btn-comprar {
    background: #FAE09D !important;
    position: absolute;
}

.card-text {
    margin-top: -7rem;
    text-align: center;
    font-family: 'Roboto', Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fae09d;
    text-transform: uppercase;
    text-shadow: -2px -2px 3px #212529;
    position: absolute;
}

.btn {
    padding: inherit;
}

.card-body {
    flex: 1 1 auto;
    justify-content: center;
    padding: 1rem 1rem;
    display: flex;
}


.card-img-top {
    object-position: top;
    object-fit: scale-down;
    height: 355px;
}

.card {
    width: 230px;
    box-sizing: border-box;
    box-shadow: -20px -6px 20px 0px rgb(0 0 0 / 25%);
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
    margin-bottom: 3.75rem;
    border: 1px solid #dbdbdb !important;
}

.super {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 60%;
    margin: auto;
    font-family: 'Roboto', Arial;
}
.btn-comprar {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    background: #D00F0F;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: auto;
    padding: 0 10px !important;
    margin-top: -70px !important;
}

.super-div {

    color: #FFFFFF;
    margin: 10rem 0;
    width: 60%;
    padding: 25px 0;
    text-align: center;

    background: #FAE09D;
    box-shadow: -20px 11px 20px 0px rgb(0 0 0 / 25%);
    border-radius: 2px 155.5px 0px;

    font-style: normal;
    font-weight: 700;
}

h1 {
    line-height: inherit !important;
    font-size: inherit;
}
.super-h1 {
    font-size: 2.5rem;
    width: auto;
}

.card-title {
    margin-bottom: inherit !important;
}