<section class="card-section">
    <div class="titulo-lista-produto">
        <h1>Confira nossa lista de produtos</h1>
    </div>
    <section class="card-section-scroll">
        <?php include_once __DIR__ . './../../../src/view/listar-produtos.php' ?>
    </section>
        <p class="small arraste-lado" style="display: none; color: #444444; font-family: 'Roboto', Arial ">Arraste para o lado para ver a lista de produtos</p>
</section>
