<?php


use src\doctrine\infra\MysqlConnect;

$caminho = '../img/arquivos/';

$mysql = (new MysqlConnect())->conect();

?>
<section class="destaque">
    <div class="titulo-lista-produto"><h1>Confira nossos destaques</h1></div>
    <section>
        <div class="div-produto-destaque">
            <?php
            $dql = "SELECT * FROM produtos WHERE `ehsuperdestaque` LIKE '%simcima%' limit 1 ";
            $dql = mysqli_query($mysql, $dql);
            if (($dql) and ($dql->num_rows != 0)):
                while ($rows = mysqli_fetch_object($dql)) : $img = $caminho . $rows->nome;
                    $id = $rows->id;
                    ?>
                    <img class="img-destaque-response" src="<?= $img ?>" alt="<?= $rows->nome ?>">
                    <div class="descricao-destaque">
                        <ul class="ul-destaque">
                            <li class="li-destaque titulo"><?= $rows->titulo_produto ?></li>
                            <li class="li-destaque"><?= $rows->descricao ?></li>
                            <li class="li-destaque">Preço: $<?= $rows->preco ?> </li>
                            <li class="li-destaque">
                                <button type="button" class="btn btn-saibamais thar-four" data-bs-toggle="modal"
                                        data-bs-target="#saibamais-cima">
                                    Saiba mais
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="modal fade" id="saibamais-cima" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Saiba mais sobre este produto</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="imagem-modal">
                                        <img class="img-destaque-response" src="<?= $img ?>" alt="<?= $rows->nome ?>">
                                    </div>
                                    <div class="conteudo-modal">
                                        <ul class="ul-destaque">
                                            <li class="li-destaque titulo"><?= $rows->titulo_produto ?></li>
                                            <li class="li-destaque"><b>Descrião: </b>  <?= $rows->descricao ?></li>
                                            <li class="li-destaque"><b>Preço: </b> $<?= $rows->preco ?></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endwhile; endif; ?>
        </div>

        <div class="div-produto-destaque div-baixo">
            <?php
            $dql = "SELECT * FROM produtos WHERE `ehsuperdestaque` LIKE '%simbaixo%' limit 1 ";
            $dql = mysqli_query($mysql, $dql);
            if (($dql) and ($dql->num_rows != 0)):
                while ($rows = mysqli_fetch_object($dql)) : $img = $caminho . $rows->nome;
                    $id = $rows->id;
                    ?>
                    <div class="div-tv">
                        <img class="img-destaque-response" src="<?= $img ?>" alt="<?= $rows->nome ?>">
                    </div>
                    <div class="descricao-destaque">
                        <ul class="ul-destaque">
                            <li class="li-destaque titulo"><?= $rows->titulo_produto ?></li>
                            <li class="li-destaque"><?= $rows->descricao ?></li>
                            <li class="li-destaque">Preço: $<?= $rows->preco ?> </li>
                            <li class="li-destaque">
                                <button type="button" class="btn btn-saibamais thar-four" data-bs-toggle="modal"
                                        data-bs-target="#saibamais-baixo">
                                    Saiba mais
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="modal fade" id="saibamais-baixo" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Saiba mais sobre este produto</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="imagem-modal">
                                        <img class="img-destaque-response" src="<?= $img ?>" alt="<?= $rows->nome ?>">
                                    </div>
                                    <div class="conteudo-modal">
                                        <ul class="ul-destaque">
                                            <li class="li-destaque titulo"><?= $rows->titulo_produto ?></li>
                                            <li class="li-destaque"><b>Descrião: </b>  <?= $rows->descricao ?></li>
                                            <li class="li-destaque"><b>Preço: </b> $<?= $rows->preco ?></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endwhile; endif; ?>
        </div>
    </section>
</section>
